- content_for :javascript do
  :javascript
    var eventName = typeof(Turbolinks) !== 'undefined' ? 'turbolinks:load' : 'DOMContentLoaded';
    
      document.addEventListener(eventName, function flash() {
    <haml_silent>     if flash[:notice] 
    </haml_silent><haml_block>      ShopifyApp.flashNotice("#{j flash[:notice].html_safe}");
    </haml_block>
    <haml_silent>     if flash[:error] 
    </haml_silent><haml_block>      ShopifyApp.flashError("#{j flash[:error].html_safe}");
    </haml_block>                             
        document.removeEventListener(eventName, flash)
      });
